<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="icon" href="static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link href='https://fonts.googleapis.com/css?family=Patua+One|Poiret+One|Righteous' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <img src="static/images/gray.png" id="bg" alt="">
    <img src="static/images/logowhite.png" id="logo">
    <nav>
        <menuitem><a href="/contact"><p>Contact</p></a></menuitem>
        <menuitem><a href="/resume"><p>Resume</p></a></menuitem>
        <menuitem><a href="/portfolio"><p>Portfolio</p></a></menuitem>
        <menuitem><a href="/about"><p>About</p></a></menuitem>
        <menuitem><a href="/"><p>Home</p></a></menuitem>
    </nav>
{% block content %}{% endblock %}
</body>
</html>